@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

body {
  margin: 0 auto !important;
  padding: 0 auto !important;
  overflow-x: hidden !important;
  font-family: 'Amazon Ember', sans-serif !important;
}
